{% extends 'login/base.html' %}

{% block login %}
    <div>
    <from action="/login" method="POST">
        <label for="username">Name</label>
        <input type="text" name="username" id="username">
        <label for="password">Password</label>
        <input type="password" name="password" id="password">
        {% if login_error %}
            <label class="error">{{ error }}</label>
        {% endif %}
        <input class="" type="submit" value="login">
    </from>
    </div>
{% endblock %}