{% extends 'login/base.html' %}

<!--
    <div>
    <from method="post" action="{% url 'login' %}">
        <label for="username">Name</label>
        <input type="text" name="username" id="username">
        <label for="password">Password</label>
        <input type="password" name="password" id="password">
        {% if login_error %}
            <label>{{ login_error }}</label>
        {% endif %}
        <input type="submit" value="Ok">
    </from>
    </div>
-->

{% block login %}

<div id="content-main">



<form action="{% url 'login' %}" method="post" id="login-form">
  {% csrf_token %}
    <div class="form-row">
    <label class="required" for="username">Username:</label>
      <input type="text" name="username" required="" id="id_username" maxlength="254" autofocus="">
  </div>
  <div class="form-row">

    <label class="required" for="password">Password:</label>
      <input type="password" name="password" required="" id="id_password">
    <input type="hidden" name="next" value="/admin/">
  </div>

  <div class="submit-row">
    <label>&nbsp;</label><input type="submit" value="Log in">
  </div>
</form>

</div>{% endblock %}