{% extends 'landing/si_base.html' %}

{% block headtitle %}
    {{ Article.title }}
{% endblock %}

{% block date %}
    {{ Article.date }}
{% endblock %}

{% block title %}
    {{ Article.title }}
{% endblock %}

{% block content %}

<pre style="border: 0px solid #333333; white-space: pre-wrap"> <h4 style="color:#7F8F9D">{{ Article.text }}</h4></pre>

{% endblock %}

{% block prev_post %}
 <a class="copy" href="/article/{{ Article.prev }}">
	<div class="display-t">
		<div class="display-tc">
			<div>
				<span>{{ Article.prev_title }}</span>
                <h2>{{ Article.prev_pres_text }}</h2>
            </div>
        </div>
    </div>
 </a>
{% endblock %}

{% block next_post %}
<a class="copy" href="/article/{{ Article.next }}">
	<div class="display-t">
		<div class="display-tc">
			<div>
				<span>{{ Article.next_title }}</span>
                <h2>{{ Article.next_pres_text }}</h2>
            </div>
        </div>
    </div>
</a>
{% endblock %}






{% block copy %}
    &copy; Storm B®øde. All Rights Reserved
{% endblock %}

